/* Styles de la navbar */
.navbar-custom {
    background-color: #343a40;
    padding: 1rem;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #17a2b8;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #17a2b8;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #17a2b8;
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .active {
    color: #17a2b8;
}

.login-btn {
    color: #ffffff !important;
    background-color: #17a2b8;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #138496;
    color: #ffffff !important;
}

.logout-btn {
    color: #ffffff !important;
    background-color: #dc3545; /* Rouge pour indiquer la déconnexion */
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
    background-color: #c82333;
    transform: scale(1.05); /* Légère mise en avant au survol */
}